<div>
  <div>
    <h2>
      Host a new event
    </h2>

    <form action="/insert_event" method="post">
      <div>
        <label for="details_box">
          Details
        </label>

        <textarea id="details_box" name="query_details" rows="3"></textarea>
      </div>

      <div>
        <input type="checkbox" id="public_status_box" name="query_public_status" value="1">

        <label for="public_status_box">Invite only</label>
      </div>

      <div>
        <label for="event_name_box">
          Event name
        </label>

        <input type="text" id="event_name_box" name="query_event_name">
      </div>

      <div>
        <label for="creator_id_box">
          Creator
        </label>

        <input type="text" id="creator_id_box" name="query_creator_id">
      </div>

      <div>
        <label for="event_date_box">
          Event date
        </label>

        <input type="date" id="event_date_box" name="query_event_date">
      </div>

      <button>
        Create event
      </button>
    </form>
  </div>
</div>
